{% load get %} {% load percentage %}
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		{% if errors %}
		<div class="alert alert-warning">
			<strong>Warning!</strong> {{errors}}
		</div>
		{% endif %}
		<h1>Welcome to the Rewards Dashboard</h1>
		<div>
			<h2>Reward Tiers</h2>
			<table class="table table-striped">
				<tr>
					<th>Rewards Tier
						<th>
							<th>Reward Points</th>
							<th>Rewards Tier Name</th>
				</tr>
				{% for reward in rewards_data %}
				<tr>
					<td>{{ reward.tier }}
						<td>
							<td>{{ reward.points }}</td>
							<td>{{ reward.rewardName }}</td>
				</tr>
				{% endfor %}
			</table>
			<hr>
		</div>
		<div>
			<h2>Add orders</h2>
			<form action="/rewards/" method="post">
				{% csrf_token %}
				<label>Enter email address: </label><input type="text" name="email" /><br>
				<label>Enter order total: </label><input type="text" name="cost" />
				<button class="btn btn-primary">Submit Order</button>
			</form>
			<hr>
		</div>
		<div>
			<h2>User Rewards</h2>
			<form action="/rewards/" method="get">
				<label>Email address: </label>
				<input required name="email_lookup" type="text" value={{email_lookup}} />
				<button class="btn btn-primary">Search</button>
			</form>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Email Address</th>
						<th>Reward Points</th>
						<th>Reward Tier</th>
						<th>Reward Tier Name</th>
						<th>Next Reward Tier</th>
						<th>Next Reward Tier Name</th>
						<th>Next Reward Tier Progress</th>
					</tr>
				</thead>
				<tbody>
					{% for user in user_data %}
					<tr>
						<td>{{user| get:"Email Address"}}</td>
						<td>{{user| get:"Reward Points"}}</td>
						<td>{{user| get:"Rewards Tier"}}</td>
						<td>{{user| get:"Reward Tier Name"}}</td>
						<td>{{user| get:"Next Rewards Tier"}}</td>
						<td>{{user| get:"Next Rewards Tier Name"}}</td>
						<td>{{user| get:"Next Rewards Tier Progress"|percentage}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>